<!DOCTYPE html>
<html>
<head>
	<title>Upload CSV</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="static\styles\styles.css">

	
</head>
<body>
	<div class="container mt-5">
		<center>
			<h3>Dynamic Analyzing Tool - Bus Transport Data</h2>
			<h4>Readlily analyse your datasets!</h4>
		</center>
		<br>
		<h4>Please upload 2 CSV Files - <em>Alert_Data.csv</em> and <em>Fuel_Info.csv</em></h4>
		<br>
		<br>
		<form action="" method="POST" enctype="multipart/form-data">
			<div class="input-group mb-3">
			  <div class="custom-file">
				<input type="file" name="file1" class="custom-file-input" id="inputGroupFile1" onchange="getFileData(this,'1');">
			    <label id="1" class="custom-file-label" for="inputGroupFile1">Choose Alert_Data.csv file</label>
			  </div>
			  <div class="custom-file ml-3">
				<input type="file" name="file2" class="custom-file-input" id="inputGroupFile2"  onchange="getFileData(this,'2');">
			    <label id="2" class="custom-file-label" for="inputGroupFile2">Choose Fuel_Info.csv file</label>
			  </div>
			</div>
			<button class="btn btn-primary" type="submit">Upload</button>
		</form>
		{% with message = get_flashed_messages()[0] %}
			{% if message %}
				<div class="alert alert-danger mt-3 text-center container" role="alert" style="width: 50%;">
					{{ message }}
				</div>
			{% endif %}
		{% endwith %}
		{%if show%}
			<center>
			<a type="button" class="btn btn-primary" href="{{url_for('hypothesis_distribution_of_alarm_types_accross_buses')}}">Get The Hypothesis And Distribution Of Alarm Types Across All The Buses</a><br><br>
			<a type="button" class="btn btn-primary" href="{{url_for('hypothesis_distribution_of_alarm_types_accross_hours')}}">Get The Hypothesis Of Alarm Types Across All The Buses</a><br><br>
			<a type="button" class="btn btn-primary" href="{{url_for('best_speed_for_optimal_mileage')}}">Best Speed For Optimal Mileage</a><br><br>
			<a type="button" class="btn btn-primary" href="{{url_for('graph_of_device_id_vs_frequency_of_FCW_6_to_6')}}">FCW Frequency From 6am to 6pm</a><br><br>
			<a type="button" class="btn btn-primary" href="{{url_for('HWM_turning_into_FCW')}}">How many HMW's Turned To FCW's</a><br><br>
			<a type="button" class="btn btn-primary" href="{{url_for('when_max_alerts_were_generated_for_each_bus')}}">Time When Max Alerts Are Generated For Each Bus</a><br><br>
			<a type="button" class="btn btn-primary" href="{{url_for('distribution_of_speed_for_FCW')}}">Distribution Of Speed For FCW</a><br><br>
			</center>
		{%endif%}
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script type="application/javascript">
	    function getFileData(myFile, id) {
		   var filename = myFile.files[0].name;  
		   console.log(filename);
		   document.getElementById(id).innerHTML = filename;
		}
	</script>
</body>
</html>
