
<!DOCTYPE html>
<html>
<head>
	<title>
		Hypotheses
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

</head>
<body>
	<center>
        <P>
            Hypotheses are a mathematically elegant way of analysing data and estimating values.<br>
             Test the following hypotheses on your dataset </P>
    </center>
        <div>
            <a class="link" onclick="window.location.href='{{url_for('hypothesis_distribution_of_alarm_types_accross_buses')}}'">Are bus_id and alert types related?</a><br>
            <a class="link" onclick="window.location.href='{{url_for('hypothesis_distribution_of_alarm_types_accross_hours')}}'">Are time and alert types related?</a><br>
            <a class="link" onclick="window.location.href='{{url_for('best_speed_for_optimal_mileage')}}'">What is the best speed for optimal mileage?</a><br>
            <a class="link" onclick="window.location.href='{{url_for('hypo4')}}'">Proportion of times a bus has crossed 30kmph during PCW alerts</a><br>
            <a class="link" onclick="window.location.href='{{url_for('hypo5')}}'">Z test on the mean Mileage in order to explore the relationship between distance and mileage</a><br>
        </div>
	<div class="input-group-append" style="padding-left: 20%">
            
        <a type="button" class="btn btn-primary" href="{{url_for('links')}}" >Back</a>
        </div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>

